<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/global.css">
    <title>Dashboard</title>
</head>

<body>
    <header>
        <h2>
            <%= username %>'s Dashboard
        </h2>
        <input type="text" class="search" placeholder="Search books by title" />
        <a href="/user/book/new" class="addBook">Add book</a>
        <form action="/user/logout" method="POST">
            <button type="submit" class="logout">Log out</button>
        </form>
    </header>
    <main>

        <% if (books.length==1) {%>
            <p> You have read <%= books.length %> book: </p>
            <% } else if (!books.length){%>
                <p> Click 'Add book' to start adding books to your dashboard! </p>
                <% } else {%>
                    <p> You have read <%= books.length %> books: </p>
                    <% } %>
                        <% if (books.length> 0) {%>
                            <section class="books">
                                <ul>
                                    <% for(let book of books) {%>
                                        <li class="book" data-title="<%= book.title %>">

                                            <h4>
                                                <%= book.title %>
                                            </h4>
                                            <p>
                                                Author: <%= book.author %>
                                            </p>
                                            <p>
                                                Genre: <%= book.genre %>
                                            </p>

                                            <% if (book.rating !==null){ %>
                                                <p>
                                                    Rating: <%= book.rating %> / 10
                                                </p>
                                                <% } %>

                                                    <a href="/user/book/edit/<%= book.id %>" class="edit">Edit</a>
                                                    <form action="/user/book/delete/<%= book.id %>?_method=DELETE"
                                                        method="POST">
                                                        <button type="submit" class="delete-btn"
                                                            data-id="<%= book.id %>">Delete</button>
                                                    </form>
                                        </li>
                                        <% }} %>

                                </ul>
                            </section>
    </main>

    <script>
        document.querySelector('.search').addEventListener('keyup', function () {
            var searchValue = this.value.toLowerCase();
            var books = document.querySelectorAll('.book');

            for (let book of books) {
                var title = book.getAttribute('data-title');
                if (!title.toLowerCase().includes(searchValue)) {
                    book.style.display = 'none';
                } else {
                    book.style.display = '';
                }
            }
        });

    </script>
</body>

</html>